
<body>

    <div class="container">
        <div class="card bg-info text-white">
            <div class="card-body"><a asp-controller="Categories" asp-action="Index" style="color:white">Kategorileri Düzenle</a></div>
        </div>
        <br>
        <div class="card bg-info text-white">
            <div class="card-body"><a asp-controller="Details" asp-action="Index" style="color:white">Yazıları Düzenle</a></div>
        </div>
    </div>

</body>