@model WebProgOdev.Models.Text




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="YaziEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="yaziBaslik" class="control-label">Yazı Başlığı</label>
                <input asp-for="yaziBaslik" class="form-control" />
                <span asp-validation-for="yaziBaslik" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="yaziIcerik" class="control-label">Yazı İçerik</label>
                <input asp-for="yaziIcerik" class="form-control" />
                <span asp-validation-for="yaziIcerik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="yaziTarih" class="control-label">Yazı Tarihi</label>
                <input asp-for="yaziTarih" class="form-control" />
                <span asp-validation-for="yaziTarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
